body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  h1, h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  #todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
  }
  
  #new-task {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1; /* Expands input to fill most of container */
    margin-right: 20%;
  }
  
  #add-task {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #task-list {
    margin: 0 auto; /* Centers list horizontally */
    padding: 10%;
    list-style: none; /* Removes default bullet points */
    background-color: #4CAF50;
    color: #ddd;
  }
  
  #task-list li {
    border-bottom: 3px solid #ddd;
    padding: 10%;
    font-size: 32px;
    display: flex;
    align-items: center;
  }
  
  #completeButton {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-family: segoe UI;
    color: #4CAF50;
  }

  #removeButton {
    padding: 10px;
    margin: 10px;
    display:inline-block;
    text-align: center;
    font-family: segoe UI;
    color: red;
  }

  #points {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 20%;
  }